{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Kana Quiz</title>
	<meta name="referrer" content="no-referrer" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="robots" content="noimageindex">
    <meta name="twitter:card" content="summary">
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint-icons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/blueprint.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/skeleton.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
</head>
<body>
    <nav class="bp3-navbar">
        <div class="twelve columns">
            <div class="bp3-navbar-group bp3-align-left">
                <div class="bp3-navbar-heading"><a href="/home" title="Home">Kana Quiz</a></div>
            </div>
            <div class="bp3-navbar-group bp3-align-right">
            {{ if .Ctx.Session }}
                {{ $user := .Ctx.Session.State.User }}
                <a href="/home" class="bp3-button bp3-minimal bp3-icon-home" title="Home">Home</a>
                <span class="bp3-navbar-divider"></span>
                <a href="/quiz.new" class="bp3-button bp3-minimal bp3-intent-success bp3-icon-add" title="Start New Quiz"></a>
                <span class="bp3-navbar-divider"></span>
                <span class="bp3-navbar-item"><img class="nav-profile-picture" src="{{ $user.PictureURL }}" title="{{ $user.Email }}"/></span>
                <span class="bp3-navbar-divider"></span>
                <a href="/logout" class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-log-out" title="Log Out"></a>
                </div>
            {{ else }}
                <a href="/login" class="bp3-button bp3-minimal bp3-intent-primary bp3-icon-log-in" title="Log In"></a>
            {{ end }}
            </div>
        </div>
    </nav>
{{end}}
