{{ define "index" }} {{ template "header" . }}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h4 class="bp3-heading">Welcome!</h4>
            <p>The goal of this app is to help you drill kana, specifically Hiragana and Katakana.</p>
            <p>You can also optionaly include some short words to help with reading groups of kana.</p>
            <p>To get started, click the <code class="text-intent-success">+</code> button in the upper righthand side.</p>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}