{{ define "index" }} {{ template "header" . }}
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h4 class="bp3-heading">Welcome!</h4>
            <p>The goal of this app is to help you drill kana, specifically Hiragana and Katakana.</p>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <div id="login">
                <div id="login-button">
                    <a role="button" href="/login" class="bp3-button bp3-large bp3-intent-primary bp3-icon-log-in">Login with Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}