{{ define "new_quiz" }} {{ template "header" . }}
<div class="container">
    <h1>Start a new quiz</h1>
    <div class="row">
        <div class="four columns offset-by-four">
            <form class="bp3-form" method="POST" action="/quiz">
                <div class="bp3-form-group">
                    <label class="bp3-label" for="hiragana">Max Questions</label>
                    <div class="bp3-form-content">
                        <input id="max-questions" name="maxQuestions" type="number" class="bp3-input bp3-large bp3-fill" dir="auto" placeholder="Leave blank for unlimited"/>
                    </div>
                </div>
                <div class="bp3-form-group">
                    <label class="bp3-label" for="hiragana">Prompt Set Size</label>
                    <div class="bp3-form-content">
                        <input id="max-prompts" name="maxPrompts" type="number" class="bp3-input bp3-large bp3-fill" dir="auto" value="10" placeholder="Leave blank for unlimited" />
                    </div>
                </div>
                <div class="bp3-form-group">
                    <label class="bp3-label" for="hiragana">Max Repeat History Length</label>
                    <div class="bp3-form-content">
                        <input id="max-repeat-history" name="maxRepeatHistory" type="number" class="bp3-input bp3-large bp3-fill" dir="auto" value="5" placeholder="Leave blank for unlimited" />
                    </div>
                </div>
                <div class="bp3-form-group">
                    <label class="bp3-control bp3-checkbox bp3-align-right bp3-large">
                        <input id="hiragana" name="hiragana" type="checkbox" dir="auto" checked="true" />
                        <span class="bp3-control-indicator"></span>
                        Include Hiragana?
                    </label>
                </div>
                <div class="bp3-form-group">
                    <label class="bp3-control bp3-checkbox bp3-align-right bp3-large">
                        <input id="katakana" name="katakana" type="checkbox" dir="auto" checked="true" />
                        <span class="bp3-control-indicator"></span>
                        Include Katakana?
                    </label>
                </div>
                <div class="u-pull-right">
                    <button class="bp3-button bp3-large bp3-intent-primary" type="submit">Start</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}