{{ define "quiz_settings" }}
<span class="quiz-settings">
    {{ if .Hiragana }}
    <span class="quiz-setting">Hiragana</span>
    {{ end }}
    {{ if .Katakana }}
    <span class="quiz-setting">Katakana</span>
    {{ end }}
    {{ if .KatakanaWords }}
    <span class="quiz-setting">Katakana Words</span>
    {{ end }}
</span>
{{ end }}

{{ define "stats" }} {{ template "header" . }}
{{ $dateFormat := "2006-01-02 15:04Z"}}
<div class="container stats">
    <ul class="bp3-breadcrumbs">
        <li><a class="bp3-breadcrumb  bp3-breadcrumb-current" href="/stats">Stats</a></li>
    </ul>
    <div class="row">
        <div class="twelve columns">
            <table class="bp3-html-table bp3-html-table-condensed bp3-html-table-striped u-full-width u-max-full-width">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Prompts</th>
                        <th>Questions</th>
                        <th>Prompts</th>
                        <th>History</th>
                        <th>Total</th>
                        <th>Correct</th>
                        <th>Pct. Correct</th>
                        <th>P90 Elapsed</th>
                        <th>Min/Max Elapsed</th>
                    </tr>
                </thead>
                <tbody>
            {{ range $index, $quiz := .ViewModel }}
                    {{ $stats := $quiz.Stats }}
                    <tr>
                        <td><a href="/stats/{{$quiz.ID }}">{{ $quiz.CreatedUTC | time_format $dateFormat }}</a></td>
                        <td>{{ template "quiz_settings" $quiz }}</td>
                        <td>{{ $quiz.MaxQuestions}}</td>
                        <td>{{ $quiz.MaxPrompts }}</td>
                        <td>{{ $quiz.MaxRepeatHistory }}</td>
                        <td>{{ $stats.Total }}</td>
                        <td>{{ $stats.Correct }}</td>
                        <td>{{ $stats.PercentCorrect | printf "%.2f" }}%</td>
                        <td>{{ $stats.ElapsedP90 | duration_round_millis }}</td>
                        <td>{{ $stats.ElapsedMin | duration_round_millis }} / {{ $stats.ElapsedMax | duration_round_millis }}</td>
                    </tr>
            {{ else }}
                    <tr>
                        <td colspan="12">No Quiz Results</td>
                    </tr>
            {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ template "footer" . }}
{{ end }}