{{ define "stats" }} {{ template "header" . }}
<div class="container stats">
    <h4 class="bp3-heading">Stats</h4>
    <table class="bp3-html-table bp3-html-table-condensed bp3-html-table-striped">
        <thead>
            <tr>
                <!--01--><th>Created</th>
                <!--02--><th>Include Hiragana</th>
                <!--03--><th>Include Katakana</th>
                <!--04--><th>Include Katakana Words</th>
                <!--05--><th>Max Questions</th>
                <!--06--><th>Max Prompts</th>
                <!--07--><th>Max Repeat History</th>
                <!--08--><th>Total</th>
                <!--09--><th>Correct</th>
                <!--10--><th>Pct. Correct</th>
                <!--12--><th>P90 Elapsed</th>
                <!--12--><th>Min/Max Elapsed</th>
            </tr>
        </thead>
        <tbody>
    {{ range $index, $quiz := .ViewModel }}
            {{ $stats := $quiz.Stats }}
        <tr>
            <td>{{ $quiz.CreatedUTC | time_format "Jan _2 15:04:05" }}</td>
            <td>{{ $quiz.Hiragana }}</td>
            <td>{{ $quiz.Katakana }}</td>
            <td>{{ $quiz.KatakanaWords }}</td>
            <td>{{ $quiz.MaxQuestions}}</td>
            <td>{{ $quiz.MaxPrompts }}</td>
            <td>{{ $quiz.MaxRepeatHistory }}</td>
            <td>{{ $stats.Total }}</td>
            <td>{{ $stats.Correct }}</td>
            <td>{{ $stats.PercentCorrect | printf "%.2f" }}%</td>
            <td>{{ $stats.ElapsedP90 | duration_round_millis }}</td>
            <td>{{ $stats.ElapsedMin | duration_round_millis }} / {{ $stats.ElapsedMax | duration_round_millis }}</td>
        </tr>
    {{ else }}
        <tr>
            <td colspan="12">No Quiz Results</td>
        </tr>
    {{ end }}
        </tbody>
    </table>
</div>
{{ template "footer" . }}
{{ end }}