.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.text-intent-primary {
    color:#0E5A8A;    
}
.text-intent-success {
    color: #0A6640;    
}
.text-intent-warning {
    color: #A66321;    
}
.text-intent-danger {
    color: #A82A2A;    
}

.text-underline {
    text-decoration: underline;
}

.nav {
    padding-top: 10px;
    height: 75px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;
}

.nav .nav-hero a {
    text-decoration: none;
}
.nav .nav-hero a:hover {
    text-decoration: none;
}

.bp3-card {
    margin-bottom: 15px;
}

/* specific page sections */

.quiz-prompt {
    font-size: 12rem;
}

.latest-result {
    padding-top: 15px;
}

.stats h6:not(:first) {
    margin-top: 10px;
}